<%- include('../partials/header') %>

    <!-- title -->
    <title>Club Home - New Member</title>
    </head>

    <body class="d-flex flex-column vh-100">
        <!-- navbar -->
        <%- include('../partials/navbar') %>

        <!-- main -->
        <div class="row">
            <h1 class="text-center">New Member</h1>
            <div class="col-md-6 offset-md-3">
                <form action="/roster" method="POST" novalidate class="validated-form"
                    enctype="multipart/form-data">
                    <!-- first name -->
                    <div class="mb-3">
                        <label class="form-label" for="firstName">First Name</label>
                        <input class="form-control" type="text" id="firstName" name="user[firstName]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <!-- last name -->
                    <div class="mb-3">
                        <label class="form-label" for="lastName">Last Name</label>
                        <input class="form-control" type="text" id="lastName" name="user[lastName]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <!-- role -->
                    <div class="mb-3">
                        <label class="form-label" for="role">Role</label>
                        <input class="form-control" type="text" id="role" name="user[role]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <!-- location -->
                    <div class="mb-3">
                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" id="location" name="user[location]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->
                    <div class="mb-3">
                        <label class="form-label" for="price">Salary</label>
                        <div class="input-group">
                            <span class="input-group-text" id="price-label">$</span>
                            <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                                aria-describedby="price-label" name="user[price]" required>
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" type="text" id="description" name="user[description]"
                            required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-file custom-file">
                            <input type="file" class="form-file-input" id="image" name="image" multiple>
                            <label class="form-file-label" for="image">
                                <span class="form-file-text custom-file-label">Choose image(s)...</span>
                                <span class="form-file-button">Browse</span>
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success">Add Member</button>
                    </div>
                </form>
                <!-- old members link -->
                <!-- <a href="/roster">All Members</a> -->
            </div>
        </div>

        <!-- footer -->
        <%- include('../partials/footer') %>

        <!-- from validator -->
        <script src='/public/scripts/validateForms.js'></script>

    </body>

    </html>