<%- include('../partials/header') %>

    <!-- title -->
    <title>Club Home - Showcase</title>
</head>
<body class="d-flex flex-column vh-100">
    <!-- navbar -->
    <%- include('../partials/navbar') %>

    <!-- testing -->
    <h1>Showcase Page</h1>

    <!-- main -->

    <!-- footer -->
    <%- include('../partials/footer') %>

</body>
</html>