<%- include('./partials/header') %>

<!-- custom -->
<link href="/public/stylesheets/home.css" rel="stylesheet">

    <!-- title -->
    <title>Club - Home</title>
</head>
<body class="d-flex flex-column vh-100">
    <!-- navbar -->
    <%- include('./partials/navbar') %>

    <!-- main -->
    <div class="home-img">
        <div class="jumbotron">
            <div class="container d-flex justify-content-center align-items-center mt-5">
                <div class="row">
                    <h1 class="display-4 text-white">Neighborhood Soccer Club</h1>
                    <p class="lead text-white">Come enjoy, train, play, and support your local soccer superstars</p>
                    <p class="lead text-white">
                        <a class="btn btn-primary btn-lg" href="/roster" role="button">Learn About the Team</a>
                    </p>
            
                    <!-- image -->
                    <!-- <div class=" card shadow col-sm-4 ">
                        <img src="/assets/sven-kucinic-Z0KjmjxUsKs-unsplash.jpg" class="card-img-top"
                        alt="soccer player" >
                    </div> -->
                </div>
            
            </div>
        </div>

    </div>

    <!-- footer -->
    <%- include('./partials/footer') %>

</body>
</html>